# Dependencies
node_modules/
__pycache__/
*.pyc
venv/
.env

# Next.js
.next/
out/
build/

# Databases
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Docker
.docker/

# Nested duplicates / backups
do-it-services/

# Local custom/large files & folders
cf.zip
cf/
documents/
scratch/
*.zip
*.pdf
*.jpeg
*.jpg
*.png
